.sheet-music {
  background-color: #fff;
}

.sheet-music .abcjs-note_playing {
  fill: #e6007e;
}

.sheet-music .abcjs-rest_playing {
  fill: #e6007e;
}

.sheet-music .abcjs-lyric_playing {
  fill: #e6007e;
}

.sheet-music .abcjs-note_selected {
  fill: #e6007e;
}
